/*Start writing sass here*/
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/angular-loading-bar/build/loading-bar.min.css";
@font-face {
  font-family: "Nunito";
  src: url('../fonts/Nunito-Regular.ttf');
}
@font-face {
  font-family: "Nunito";
  src: url('../fonts/Nunito-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: "Nunito";
  src: url('../fonts/Nunito-Light.ttf');
  font-weight: 300;
}
$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee
$background-color: #ffd61e !default;
$peach-bg: #fff2e1 !default;
$brand-primary: #0784c8 !default;
$brand-success: #00ac93 !default;
$brand-warning: #ffd61e !default;
$brand-danger: #684703 !default;
$brand-info: #000072 !default;
$red: #f55069 !default;
$green: #00ac93 !default;
$yellow: #eeec3b !default;
$body-bg: #fff !default;
$text-color: $gray-base !default;
$link-color: $gray-base !default;
$link-hover-color: $gray-base !default;
$link-hover-decoration: none !default;
$font-head-char: "Nunito", Helvetica, Arial, sans-serif !default;
$font-head: "Nunito", Helvetica, Arial, sans-serif !default;
$head-color: #684703;
$border-radius-base: 0 !default;
$border-radius-large: 0 !default;
$border-radius-small: 0 !default;
$menu-height: 74px !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@mixin clip-path($clip) {
  -webkit-clip-path: $clip;
  -moz-clip-path: $clip;
  -ms-clip-path: $clip;
  clip-path: $clip;
}
@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}
body {
  -webkit-font-smoothing: antialiased;
  font-family: $font-head;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto !important;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
.primary {
  color: $brand-primary;
}
.danger {
  color: $brand-danger;
}
.warning {
  color: $brand-warning;
}
.success {
  color: $brand-success;
}
.bg-warning {
  background-color: $brand-warning;
}
.bg-light-warning {
  background-color: $peach-bg;
}
.red {
  color: $red;
}
.bg-red {
  background-color: $red;
  .btn-yellow {
    @include button-variant($red, $background-color, $background-color);
  }
}
.bg-blue {
  background-color: $brand-primary;
  .btn-yellow {
    @include button-variant($brand-primary, $background-color, $background-color);
  }
}
.bg-green {
  background-color: $green;
  .btn-yellow {
    @include button-variant($green, $background-color, $background-color);
  }
}
.btn-round {
  font-size: 18px;
  padding: 6px 15px;
  min-width: 120px;
  border-radius: 5px;
}
.intro {
  position: relative;
  background-color: $red;
  .intro-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    figcaption {
      font-family: $font-head;
      color: #fff;
      font-size: 50px;
      span {
        display: block;
      }
    }
  }
}
.logo-holder {
  padding: 15px 0;
  img {
    float: right;
    height: 55px;
    width: auto;
  }
}
.no-pad-bot {
  padding-bottom: 0;
}
.no-pad-top {
  padding-top: 0;
}
.bg {
  padding: 10px 0;
  position: relative;
  // background-color: $background-color;
}
.wish-head {
  min-height: 40px;
  p {
    color: $head-color;
    font-family: $font-head;
    font-size: 28px;
    line-height: 40px;
    //        span {
    //            font-family: $font-head-char;
    //        }
  }
}
.img-holder {
  min-height: 150px;
  padding: 10px 0 0;
  position: relative;
  img.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%));
  }
  img {
    margin: 0 auto;
  }
  .check {
    color: $head-color;
    font-size: 20px;
    position: absolute;
    top: 15%;
    left: 93%;
    @include transform(translate(-15%,-93%));
  }
}
.wish-name {
  p {
    padding: 10px;
    border-radius: 10px;
    background-color: $peach-bg;
  }
}
.wish-holder {
  @extend.img-holder;
  &.question {
    min-height: auto;
    margin: 0;
  }
}
.btn {
  @include transition(all 300ms ease);
}
.btn-yellow {
  @include button-variant(white, $background-color, $background-color);
}
//jagruti css
.loadingcfp {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  background: rgba(255, 255, 255, 0.75);
}
.loadingcfp .in-box {
  width: 200px;
  padding: 40px 0;
  margin: auto;
  font-size: 16px;
  text-align: center;
  position: fixed;
  background-color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
  border-radius: 3px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.relative {
  position: relative;
  .absolute {
    position: absolute;
    top: 70px;
    width: 130px;
    height: auto;
  }
  .left {
    left: 15px;
  }
  .right {
    right: 15px;
  }
}
.hq-form {
  border-radius: 5px;
  padding: 30px;
  font-family: "Nunito";
  margin: 10px 130px 0;
  color: #383939;
  min-height: 300px;
  h4,
  .h4 {
    font-size: 14px;
    text-align: right;
    font-weight: bold;
  }
  .bot-marg {
    margin-bottom: 20px;
  }
  .radio input[type="radio"],
  .radio-inline input[type="radio"],
  .checkbox input[type="checkbox"],
  .checkbox-inline input[type="checkbox"] {
    @include appearance(none);
    background-color: $brand-warning;
    height: 12px;
    width: 12px;
    border-radius: 2px;
    outline: none !important;
    &:checked {
      background-color: $head-color;
      outline: none !important;
    }
  }
  .radio input[type="radio"] {
    border-radius: 100%;
  }
  .btn {
    border: none;
    border-radius: 4px;
    color: $peach-bg;
    @include transition(all ease 300ms);
  }
  .form-control {
    border: none;
    box-shadow: none;
    background-color: $brand-warning;
    border-radius: 2px;
    color: $head-color;
    outline: none !important;
    border-radius: 2px;
    @include placeholder {
      color: $head-color;
    }
  }
}
.pointer {
  cursor: pointer;
}
.small-container {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.img-left {
  text-align: left;
  img {
    float: none !important;
  }
}
.thought-box {
  font-family: $font-head;
  font-size: 14px;
  padding: 15px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 45px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid $peach-bg;
    position: absolute;
    bottom: -30px;
    left: 50%;
    @include transform(translateX(-50%));
  }
}
.responsive-center {
  margin: 0 auto;
}
.padding-vertical {
  padding: 30px 0 10px;
}
.row-five {
  text-align: center;
  .inlined {
    width: 33.33%;
    display: inline-block;
    padding: 0 20px;
    img {
      max-width: 220px;
      margin: 0 auto;
    }
  }
}
@media (max-width: $screen-sm-max) {
  .relative {
    .absolute {
      width: 90px;
    }
    .hq-form {
      margin: 60px 90px 0;
    }
  }
}
@media (max-width: $screen-xs-max) {
  .relative {
    .absolute {
      width: 0;
    }
    .hq-form {
      margin: 10px 0 0;
      h4,
      .h4 {
        text-align: left;
      }
    }
  }
  .row-five .inlined {
    display: block;
    text-align: center;
    width: 100%;
  }
}
.min-container {
  max-width: 900px;
  margin: 0 auto;
}
.no-border {
  border: 0 !important;
}
p.textup {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 0 14px;
  font-weight: 500;
}
.xyz-pillarx {
  height: 130px;
  margin-top: -45px;
  img {
    width: 200px;
    float: right;
  }
}

// login
.login {
  position: relative;
  input {
    padding: 6px 12px;
    border-radius: 4px;
    border: white;
    min-height: 39px;
    display: block;
    width: 100%;
    margin: 0 auto 10px;
    max-width: 320px;
  }
  .err-msg {
    position: absolute;
    top: -34px;
    left: 50%;
    @include transform(translateX(-50%));
    width: auto;
    background: #fff2e1;
    border-radius: 3px;
    padding: 5px 10px;
    &:after {
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top:5px solid #fff2e1;
      bottom: -5px;
      position: absolute;
      left: 50%;
      @include transform(translateX(-50%));
    }
  }
}
// login end

@import 'mobile';
