<div class="playing">
  <div class="small-container">
    <div class="wish-holder">
      <div class="wish-head">
        <p>{{playing.text}}</p>
      </div>
      <div class="row" ng-if="playing.type==1 && playing.type!=''">
        <div class="col-sm-6 pointer" ng-repeat="play in playing.option">
          <div class="img-holder" ng-click="selectOption(play)">
            <img ng-src="{{play.image|serverimage}}" alt="" class="img-responsive">
            <span class="check" ng-if="play.active"><i class="fa fa-check-circle"></i></span>
          </div>
        </div>
      </div>

      <div class="row" ng-if="playing.type==2 && playing.type!=''">
        <div class="col-md-4 shift pointer" ng-repeat="play in playing.option">
          <div class="img-holder" ng-click="selectOption(play)">
            <img ng-src="{{play.image|serverimage}}" alt="" class="img-responsive">
            <span class="check" ng-if="play.active"><i class="fa fa-check-circle"></i></span>
          </div>
        </div>
      </div>

      <div class="row" ng-if="playing.type==3 && playing.type!=''">
        <div class="col-md-3 col-sm-6 col-xs-6 pointer" ng-repeat="play in playing.option">
          <div class="img-holder" ng-click="selectOption(play)">
            <img ng-src="{{play.image|serverimage}}" alt="" class="img-responsive">
            <span class="check" ng-if="play.active"><i class="fa fa-check-circle"></i></span>
          </div>
        </div>
      </div>

      <div class="row-five" ng-if="playing.type==4 && playing.type!=''">
        <div class="inlined pointer" ng-repeat="play in playing.option">
          <div class="img-holder" ng-click="selectOption(play)">
            <img ng-src="{{play.image|serverimage}}" alt="" class="img-responsive">
            <span class="check" ng-if="play.active"><i class="fa fa-check-circle"></i></span>
          </div>
        </div>
      </div>


      <!-- part to integrate new pillar question -->
      <div class="row" ng-if="playing.type==5 && playing.type!=''">
        <div class="col-sm-6 pointer" ng-repeat="play in playing.option">
          <div class="img-holder" ng-click="selectOption(play)">
            <img src="img/play/playx.png" alt="" class="img-responsive">
            <p class="textup">
              {{play.answer}}
              <!-- My team Does everything for me. -->
            </p>
            <span class="check" ng-if="play.active"><i class="fa fa-check-circle"></i></span>
          </div>
        </div>
      </div>
      <!-- end -->

      
    </div>
    <div class="text-center padding-vertical">
      <a class="btn btn-success btn-round no-border" ng-click="nextQ()">NEXT</a>
    </div>
  </div>
</div>
