<div class="work bg">
    <div class="container">
        <div class="wish-holder">
            <div class="wish-head">
                <p>{{head.info}}</p>
            </div>
            <div class="row">
                <div class="col-md-6" ng-repeat="vac in vacation">
                    <div class="img-holder">
                        <img src="{{vac.img}}" alt="Vacation" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="logo-holder clearfix">
        <img src="img/logo.png" alt="HQ" class="img-responsive pull-right">
    </div>
</div>
