<div class="relative">
  <img src="img/form-left.png" alt="left" class="left absolute" />
  <img src="img/form-right.png" alt="" class="right absolute" />
  <div class="bg-light-warning hq-form">

    <form class="form-horizontal" name="survey">
      <h2 ng-bind="allQuestions.surveyname">Form</h2>
      <div class="" ng-repeat="question in allQuestions.questions">
        <div class="form-group" ng-if="question.type=='1'">
          <label class="col-sm-3 control-label">{{question.content}}<span ng-if="question.isrequired=='1'">*</span></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-required="question.isrequired=='1'" name="question{{$index}}" ng-model="question.value">
            <p ng-show="survey.question{{$index}}.$error.required && survey.question{{$index}}.$touched" class="red">Please enter the above field!</p>
          </div>
        </div>
        <div class="form-group" ng-if="question.type=='4'">
          <label class="col-sm-3 control-label">{{question.content}}<span ng-if="question.isrequired=='1'">*</span></label>
          <div class="col-sm-5">
            <select class="form-control" ng-required="question.isrequired=='1'" name="question{{$index}}" ng-model="question.value">
              <option value="" selected>Please select</option>
              <option ng-repeat="option1 in question.option" value="{{option1.title}}" ng-bind="option1.title"></option>
            </select>
            <p ng-show="survey.question{{$index}}.$error.required && survey.question{{$index}}.$touched" class="red">Please select from the above options!</p>
          </div>
        </div>
        <div class="form-group" ng-if="question.type=='2'">
          <label class="col-sm-3 control-label">{{question.content}}<span ng-if="question.isrequired=='1'">*</span></label>
          <div class="col-sm-9">
            <textarea class="form-control" rows="3" ng-required="question.isrequired=='1'" name="question{{$index}}" ng-model="question.value"></textarea>

            <p ng-show="survey.question{{$index}}.$error.required && survey.question{{$index}}.$touched" class="red">Please enter the above field!</p>
          </div>
        </div>
        <div class="bot-marg" ng-if="question.type=='3'">
          <div class="row">
            <div class="col-sm-3">
              <h4>{{question.content}}<span ng-if="question.isrequired=='1'">*</span></h4>
            </div>
            <div class="col-sm-9">
              <div class="checkbox" ng-repeat="option1 in question.option">

                <!-- <label>
                  <div class="checkbox-group required">
                    <input type="checkbox" value="option1.title" ng-bind="option1.title" ng-model="question.value[$index]" name="checkbox_name[]">
                    {{option1.title}}
                  </div>
                </label> -->

                <label class="checkbox" for="{{option1.id}}">
                  <div class="checkbox-group required">
                    <input type="checkbox" value="{{option1.id}}" id="{{option1.id}}" ng-click="updateQuestionValue(option1,question,2)" ng-bind="option1.title" ng-model="option1.checked" ng-required="question.values.length==0" name="{{option1.id}}"> {{option1.title}}
                  </div>
                </label>
              </div>

              <p ng-show="question.values.length==0 && question.touch == true" class="red">Please select from the above options!</p>

            </div>
          </div>

        </div>
        <div class="bot-marg" ng-if="question.type=='5'">
          <div class="row">
            <div class="col-sm-3">
              <h4>{{question.content}}<span ng-if="question.isrequired=='1'">*</span></h4>
            </div>
            <div class="col-sm-9">
              <div class="radio" ng-repeat="option1 in question.option">

                <label class="radio" for="{{option1.id}}">
                  <div class="radio-group required">
                    <input type="radio" value="{{option1.id}}" id="{{option1.id}}" ng-click="updateQuestionValue(option1,question,1)" ng-bind="option1.title" ng-model="option1.checked" ng-required="question.values.length==0" name="{{question.id}}"> {{option1.title}}
                  </div>
                </label>

                <!-- <label>
                  <input type="radio" value="{{option1.title}}" checked name="question{{$index}}" ng-model="question.value">
                  {{option1.title}}
                </label> -->
              </div>
              <p ng-show="question.values.length==0 && question.touch == true" class="red">Please select from the above options!</p>
            </div>
          </div>

        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button ng-click="submitSurvey(allQuestions.surveyid,allQuestions.questions)" class="btn btn-primary" ng-disabled="survey.$invalid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
